div.title{
		display: block;
		width: 1580px;
		height: 350px;
		border: none;
		margin-top: -8px;
		margin-left: -8px;
		margin-right: auto;
		background-image: url('background1.jpg');
		background-size: 1580px , 350px;
		background-repeat: no-repeat;
}
img{
	width: 300px;
	height: 168px;
}
h1.title{
	color: white;
	text-align: center;
	font-size: 50px;
	padding-top: 100px ;
}
p.title{
	text-align: center;
	color: white;
	font-size: 20px;
}
button{
	color: white;
	font-size: 16px;
	text-align: center;
	margin-left: 50%;
	margin-right: 50%;
	width: 160px;
	height: 50px;
	background-color: gray;
}
button:hover{
	background-color: white;
	color: gray;
}
h1{
	text-align: center;
	padding-top: 40px;
}
p{
	text-align: center;
	padding-left: 2px;
	padding-right: 2px;
}
table{
	width: auto;
	height: 250px;
	background-color: whitesmoke;
	border: none;
	column-fill: balance;
}
h1.sec2{
	color: grey;
	text-align: center;
	font-size: 40px;
	padding-top: 10px ;
}
th.left{
	text-align: center;
	padding-left: 200px;
	padding-top: 20px;
	padding-bottom: 40px;
}
th.right{
	text-align: center;
	padding-left: 1px;
	padding-top: 20px;
	padding-bottom: 40px;
}
div.secs{
		display: block;
		width: 1580px;
		height: 600px;
		background-color: #364135;

}
div.section1{
	margin-top: 50px;
	margin-bottom: 50px;
	margin-left: 150px;
	width: 300px;
	height: 500px;
	background-color: whitesmoke;
	float: left;
}
div.section2{
	margin-top: 50px;
	margin-right: 600px;
	margin-bottom: 50px;
	margin-left: 100px;
	width: 300px;
	height: 500px;
	background-color: whitesmoke;
	float: right;
}
div.section3{
	margin-top: -550px;
	margin-right: 	200px;
	margin-bottom: 50px;
	margin-right: 100px;
	width: 300px;
	height: 500px;
	background-color: whitesmoke;
	float: right;
}
div.secc2{
	margin-top: -25px;
	width: 1580px;
	height: 300px;
	background-color: whitesmoke;
}
h1.secc2{
	text-align: center;
	font-size: 40px;
	padding-top: 40px;
}
p.secc2{
	text-align: center;
}
th.footerleft{
	text-align: center;
	background-color: deepskyblue;
	width: 790px;
	height: 300px;
	margin: 0px;
	color: white;
}
th.footerright{
	text-align: center;
	background-color: grey;
	width: 790px;
	height: 300px;
	margin: 0px;
	margin-right:0px;
	color: white;
}
th.footer{
	background-color: black;
	color: white;
	height: 100px;
	border: none;

}