body{
	background: #D3D3D3;
	margin-left: 3%;
	margin-right: 3%;
}
h1{
	text-align: center;
	font-family: sans-serif;
}
h2{
	text-align: center;
	font-family: sans-serif;
}
h3{
	text-align: center;
	font-family: sans-serif;
}
div{
	text-align: center;
	font-family: sans-serif;
	border-style: dotted;
	border-width: thin;
	margin-top: 20px;
}
img{
	border-radius: 50%;
}
div.imgcap{
	background: grey;
  border-style: dotted;
  border-width: thin;
  margin-top: 1px;
}
p{
	text-align: center;
	font-style: oblique;
}